{% capture site_cats %}{% for cat in site.categories %}{{ cat | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign cats_list = site_cats | split:',' | sort %}

<div class="header-menu header-menu-top">
    <ul class="header-item-container">
      <li class="header-item-title header-toggle "><a href="#menu"><h2><i class="fa fa-bars"></i></h2></a></li>
      <li class="header-item-title">
        <a href="{{site.url}}/">
          {% if site.logo %}
            <img class="logo" src="{{site.url}}/{{ site.logo }}" alt="{{ site.title }}">
          {% endif %}
          <a href="{{site.url}}/" class="title"> {{ site.title }}</a>
        </a>
      </li>
      {% for menu in site.menu reversed %}
        {% assign class = nil %}
        {% if ((page.url contains menu.url and menu.url != '/') or (page.url == '/index.html' and menu.url == '/')) %}
          {% assign class = 'active' %}
        {% endif %}

        {% if menu.type == 'categories' %}
          <li class="header-item {{class}}"><a href="{{site.url}}{{menu.url}}"><h3>{{ menu.title }}</h3></a>
            <ul class="header-submenu">
              {% for item in (0..site.categories.size) %}{% unless forloop.last %}
                {% capture this_word %}{{ cats_list[item] | strip_newlines }}{% endcapture %}
                  <li class="sub-item"><a href="{{site.url}}/categories/#{{this_word}}">{{this_word}}</a></li>
              {% endunless %}{% endfor %}
            </ul>
          </li>
        {% elsif menu.submenu %}
          <li class="header-item {{class}}"><a href="{{site.url}}{{menu.url}}"><h3>{{ menu.title }}</h3></a>
            <ul class="header-submenu">
              {% for sub in menu.submenu %}
                <li class="sub-item"><a href="{{site.url}}{{sub.url}}">{{sub.title}}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
            {% if menu.url contains 'http://' or menu.url contains 'https://' %}
                <li class="header-item {{class}}"><a href="{{menu.url}}" target="_blank"><h3>{{ menu.title }}</h3></a></li>
            {% else %}
                <li class="header-item {{class}}"><a href="{{site.url}}{{menu.url}}"><h3>{{ menu.title }}</h3></a></li>
            {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
<div class="entry-header">
  <div class="header-title">
    <div class="header-title-wrap">
      <h1>{{ page.title }}</h1>
      {% if page.date %}
        <h2>
          <span class="entry-date date published updated">
            <time datetime="{{ page.date | date_to_xmlschema }}">
              {{ page.date | date: "%-d." }}
              {% assign monthAsString = page.date | date: "%B" | downcase | strip %}
              {{ site.data.languages.locales[site.locale][monthAsString] }}
              {{ page.date | date: "%Y" }}
            </time>
          </span>
        </h2>
      {% else %}
        <h2><span class="entry-date"><time>&nbsp;</time></span></h2>
      {% endif %}

      {% if site.reading_time and page.layout == 'post' %}
        <p class="entry-reading-time">
          <i class="fa fa-clock-o"></i>
          {% assign readtime = content | strip_html | number_of_words | divided_by:site.words_per_minute %}
          {{ site.data.languages.locales[site.locale].reading_time }}: ~{% if readtime <= 1 %}1 {{ site.data.languages.locales[site.locale].minute }}{% else %}{{ readtime }} {{ site.data.languages.locales[site.locale].minutes }}{% endif %}
        </p><!-- /.entry-reading-time -->
      {% else %}
          <p class="entry-reading-time">
            &nbsp;
          </p><!-- /.entry-reading-time -->
      {% endif %}
    </div><!-- /.header-title-wrap -->
  </div><!-- /.header-title -->
</div><!-- /.entry-header -->


<nav id="menu" style="display: none">
  <ul>
    {% for menu in site.menu %}
      {% if menu.type == 'categories' %}
        <li><a href="{{site.url}}{{menu.url}}"><h3>{{ menu.title }}</h3></a>
          <ul>
            {% for item in (0..site.categories.size) %}{% unless forloop.last %}
              {% capture this_word %}{{ cats_list[item] | strip_newlines }}{% endcapture %}
                <li><a href="{{site.url}}/categories/#{{this_word}}">{{this_word}}</a></li>
            {% endunless %}{% endfor %}
          </ul>
        </li>
      {% elsif menu.submenu %}
        <li><a href="{{site.url}}{{menu.url}}"><h3>{{ menu.title }}</h3></a>
          <ul>
            {% for sub in menu.submenu %}
              <li><a href="{{site.url}}{{sub.url}}">{{sub.title}}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li><a href="{{site.url}}{{menu.url}}"><h3>{{ menu.title }}</h3></a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

<div class="social-buttons">
  {% if site.owner.twitter %}
    <a href="https://twitter.com/{{site.owner.twitter}}" class="btn btn-info button-twitter"><i class="fa fa-twitter"></i></a>
  {% endif %}

  {% if site.owner.instagram %}
    <a href="https://www.instagram.com/{{site.owner.twitter}}" class="btn btn-info button-instagram"><i class="fa fa-instagram"></i></a>
  {% endif %}
</div>
