<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script type="text/javascript" src="{{ site.url }}/assets/js/scripts.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/charts.js"></script>

{% if site.google_analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script type="text/javascript">
  var getClientId = () => {
    var itemKey = 'gaClientId'
    if (sessionStorage.getItem(itemKey)) {
      return sessionStorage.getItem(itemKey);
    } else {
      var id = Date.now().toString();
      sessionStorage.setItem(itemKey, id);
      return id;
    }
  };
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.google_analytics }}', {
    'storage': 'none',
    'clientId': getClientId(),
    'storeGac': false
  });
  ga('require', 'linkid', 'linkid.js');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
</script>
{% endif %}

{% if page.comments != false %}{% include disqus_comments.html %}{% endif %}

{% if site.float_share %}
<script type="text/javascript">
    sharing();
</script>
{% endif %}
